$break-sm: 375px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1366px;
$break-xxl: 1760px;

$break-sm: "screen and (min-width: 375px)";
$break-md: "screen and (min-width: 768px)";
$break-lg: "screen and (min-width: 1024px)";
$break-xl: "screen and (min-width: 1366px)";
$break-xxl: "screen and (min-width: 1760px)";
