$break-sm: "screen and (max-width: 425px)";
$break-md: "screen and (max-width: 768px)";
$break-lg: "screen and (max-width: 1024px)";
$break-xl: "screen and (max-width: 1366px)";
$break-xxl: "screen and (max-width: 1760px)";
