@import "modules/_typography";
@import "modules/_colors";

$font-size: 50px;

body {
  background-color: $color-bg;
}
h1 {
  font-family: $font-secondary;
  font-size: 24px;
  margin: 5px 0;
  text-transform: uppercase;
  font-weight: 900;
}
h2 {
  font-family: $font-secondary;
  font-size: 48px;
  margin-top: 0;
}
p {
  font-family: $font-main;
  font-size: 14px;
}
