@import "styles";

.layout {
  display: flex;
  margin: 50px;
}
.children {
  width: 100%;
  margin-left: 100px;
  @media #{$break-md} {
    margin-left: 0px;
  }
}
.brick {
  .caption {
    font-family: $font-main;
    font-size: 13px;
  }
}
.content {
  display: flex;
  flex-wrap: wrap;
  .gutter {
    &-33 {
      margin: 17px;
      width: 30%;
    }
    &-50 {
      width: 50%;
      @media #{$break-sm} {
        width: 100%;
      }
    }
    &-100 {
      width: 100%;
    }
  }
}
.about {
  margin: 0 100px;
  @media #{$break-md} {
    margin: 0 50px;
  }
  img {
    width: 100%;
  }
  p {
    font-family: $font-secondary;
    font-size: 16px;
    margin-top: 0;
    @media #{$break-sm} {
      margin-top: 30px;
    }
    @media #{$break-md} {
      font-size: 14px;
      padding-right: 10%;
      padding-left: 10%;
    }
    @media #{$break-lg} {
      font-size: 14px;
      padding-right: 10%;
      padding-left: 10%;
    }
    @media #{$break-xl} {
      padding-right: 15%;
      padding-left: 10%;
    }
    @media #{$break-xxl} {
      padding-right: 60%;
      padding-left: 5%;
    }
  }
}
