@import "styles";

.layout {
  display: flex;
  margin: 50px;
  @media #{$break-sm} {
    margin: 10px;
    flex-wrap: wrap;
  }
  @media #{$break-md} {
    margin: 10px;
  }
  @media #{$break-lg-only} {
    margin: 30px;
  }
}
.children {
  width: 100%;
  @media #{$break-sm} {
    h2 {
      font-size: 30px;
      margin-top: 40px;
    }
  }
}
.brick {
  .caption {
    font-family: $font-main;
    font-size: 13px;
  }
}
.content {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  .gutter {
    &-33 {
      margin: 5px;
      width: 32%;
    }
    &-50 {
      width: 50%;
      p {
        padding-left: 20px;
      }
    }
    &-100 {
      width: 100%;
    }
  }
  @media #{$break-sm} {
    flex-wrap: wrap;
    .gutter-33 {
      width: 100%;
    }
    .gutter-50 {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  @media #{$break-lg-only} {
    flex-wrap: nowrap;
  }
}
.about {
  margin: 0 100px;

  img {
    width: 100%;
  }
  p {
    font-family: $font-secondary;
    font-size: 16px;
    margin-top: 0;
    padding-left: 20px;
  }
  @media #{$break-sm} {
    margin: 0;
  }
  @media #{$break-md} {
    margin: 20px;
    p {
      font-size: 14px;
    }
    .description {
      padding-left: 10px;
      padding-right: 30px;
    }
  }
}
