@import "styles";
$animation-time: 0.8s;

.menu {
  font-family: $font-secondary;
  font-size: 40px;
  text-transform: uppercase;
  a {
    color: $color-primary;
    text-decoration: none;
    cursor: pointer;
    transition: $animation-time;
    &:hover {
      color: $color-secondary;
    }
  }
  ul.nav {
    margin: 50px 0 40px;
    padding: 0;
    list-style: none;
    /*Hover effect heavliy borrowed from
    https://codepen.io/tsimenis/pen/BKdENX */
    li {
      display: table;
      width: auto;
    }
    span {
      position: relative;
      display: block;
      // cursor: pointer;
    }
    span:before,
    span:after {
      content: "";
      position: absolute;
      width: 0%;
      height: 4px;
      top: 50%;
      margin-top: -0.5px;
      background: #color-bg;
    }

    span:before {
      left: -2.5px;
    }
    span:after {
      right: 2.5px;
      background: $color-secondary;
      transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    span:hover:before {
      background: $color-secondary;
      width: 100%;
      transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    span:hover:after {
      background: transparent;
      width: 100%;
      transition: 0s;
    }
  }
  ul.social {
    font-size: 14px;
    padding: 0;
    cursor: pointer;
    color: $color-primary;
    list-style-type: none;
    li {
      padding: 0 10px;
      display: inline-block;
    }
  }
}
